@page {
  size: A4;
  margin: 0;
}

.page-break {
  page-break-after: always;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #printable-content {
    margin: 0;
    padding: 0;
  }
}
