# Dependencies
node_modules
.pnpm-store

# Build Outputs
dist
out
build
.next

# Turbo
.turbo

# Environment
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db